.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.completed {
	text-decoration: line-through;
	opacity: 1;
	text-decoration-color: white;
}
.error {
	position: relative;
	animation: shake .1s linear;
	animation-iteration-count: 3;
}
.select-dropdown {
	color: #ffffff;
}
.nav-wrapper {
	background-color: #4e342e;
}

.label-task {
	word-wrap: break-word;
}
.scroll-box {
	overflow-y: auto;
	height: 400px;
	padding: 1rem;
}
.xyz {
	padding: 0;
}
.valign-center {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
}
i.icon-teal {
	color: teal;
}
.modal {
	width: 30% !important;
	height: 25% !important;
}
nav ul a:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}
@keyframes shake {
	0% {
		left: -5px;
	}
	100% {
		right: -5px;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
